<%- include("partials/header") %>
    <!-- Navbar -->
    <%- include("partials/navbar") %>
    <%- include("partials/location_alert") %>

    <!-- Accessibility Sliding Bar -->
    <%- include("partials/sliding_bar") %>

    <main class="container mx-auto mt-8 flex-grow ">
        <h1 class="text-black text-4xl font-bold text-left mb-12 ml-2">Admin</h1>
        <p class="text-xl text-center p-4">Admin page</p>
        <p class="text-xl text-center p-4">This page is only accessible to admins.</p>
        <p class="text-xl text-center p-4">You can upload a new image for the ai vs. real image game.</p>
    </main>

    <!-- Footer -->
<%- include("partials/footer") %>